# Day 14 of 100 days of Data Science

a crowdsourced Data Science learning program by Mr. Sharan

---

## Pandas: Combine, Merge and Join

__Combine :__ for combining DataFrames across rows or columns. Combines any sort of datasets together.

__Merge :__ for combining data on common columns or indices. Will only merge similar data items from both the datasets

__Join :__ for combining data on a key column or an index. By default Joins the tables by left join.

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv")
#Just divided the dataset into 2 different datasets
df = data.sample(100)
df2 = data.sample(100)

print(df.info())
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 53617 to 31548
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    100 non-null    float64
 1   cut      100 non-null    object
 2   color    100 non-null    object
 3   clarity  100 non-null    object
 4   depth    100 non-null    float64
 5   table    100 non-null    float64
 6   price    100 non-null    int64
 7   x        100 non-null    float64
 8   y        100 non-null    float64
 9   z        100 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 8.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 45732 to 8200
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    100 non-null    float64
 1   cut      100 non-null    object
 2   color    100 non-null    object
 3   clarity  100 non-null    object
 4   depth    100 non-null    float64
 5   table    100 non-null    float64
 6   price    100 non-null    int64
 7   x        100 non-null    float64
 8   y        100 non-null    float64
 9   z        100 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 8.6+ KB
None

In [2]:
df2 = df.drop(["carat", "color", "clarity"], axis=1)
df2

             cut  depth  table  price     x     y     z
53617  Very Good   61.0   61.0    552  4.27  4.29  2.61
34846      Ideal   62.9   55.0    878  4.32  4.30  2.71
14434      Ideal   59.1   59.0   5828  6.58  6.61  3.90
40306    Premium   60.4   59.0   1125  4.81  4.76  2.89
17510  Very Good   62.5   56.0   7040  6.65  6.72  4.18
...          ...    ...    ...    ...   ...   ...   ...
35328       Good   63.2   56.0    898  4.69  4.74  2.98
24446    Premium   59.8   58.0  12707  7.51  7.55  4.50
30885      Ideal   62.5   55.0    743  4.45  4.42  2.77
19723      Ideal   61.5   56.0   8294  6.83  6.88  4.22
31548      Ideal   61.6   56.0    766  4.32  4.35  2.67

[100 rows x 7 columns]

### Combining

It will just join 2 different dataframes into one without checking if there are any similar data items

In [3]:
new_df = pd.concat([df, df2])
new_df

       carat        cut color clarity  depth  table  price     x     y     z
53617   0.30  Very Good     D     SI1   61.0   61.0    552  4.27  4.29  2.61
34846   0.30      Ideal     G    VVS2   62.9   55.0    878  4.32  4.30  2.71
14434   1.01      Ideal     H     SI2   59.1   59.0   5828  6.58  6.61  3.90
40306   0.40    Premium     E     VS1   60.4   59.0   1125  4.81  4.76  2.89
17510   1.15  Very Good     H     VS1   62.5   56.0   7040  6.65  6.72  4.18
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
35328    NaN       Good   NaN     NaN   63.2   56.0    898  4.69  4.74  2.98
24446    NaN    Premium   NaN     NaN   59.8   58.0  12707  7.51  7.55  4.50
30885    NaN      Ideal   NaN     NaN   62.5   55.0    743  4.45  4.42  2.77
19723    NaN      Ideal   NaN     NaN   61.5   56.0   8294  6.83  6.88  4.22
31548    NaN      Ideal   NaN     NaN   61.6   56.0    766  4.32  4.35  2.67

[200 rows x 10 columns]

### Joining

In [4]:
new_df2 = df.join(df2, lsuffix = '_LEFT', rsuffix= '_RIGHT')
new_df2

,carat,cut_LEFT,color,clarity,depth_LEFT,table_LEFT,price_LEFT,x_LEFT,y_LEFT,z_LEFT,cut_RIGHT,depth_RIGHT,table_RIGHT,price_RIGHT,x_RIGHT,y_RIGHT,z_RIGHT
53617,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Very Good,61.0,61.0,552,4.27,4.29,2.61
34846,0.30,Ideal,G,VVS2,62.9,55.0,878,4.32,4.30,2.71,Ideal,62.9,55.0,878,4.32,4.30,2.71
14434,1.01,Ideal,H,SI2,59.1,59.0,5828,6.58,6.61,3.90,Ideal,59.1,59.0,5828,6.58,6.61,3.90
40306,0.40,Premium,E,VS1,60.4,59.0,1125,4.81,4.76,2.89,Premium,60.4,59.0,1125,4.81,4.76,2.89
17510,1.15,Very Good,H,VS1,62.5,56.0,7040,6.65,6.72,4.18,Very Good,62.5,56.0,7040,6.65,6.72,4.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35328,0.40,Good,D,VS1,63.2,56.0,898,4.69,4.74,2.98,Good,63.2,56.0,898,4.69,4.74,2.98
24446,1.52,Premium,D,SI1,59.8,58.0,12707,7.51,7.55,4.50,Premium,59.8,58.0,12707,7.51,7.55,4.50
30885,0.33,Ideal,E,SI1,62.5,55.0,743,4.45,4.42,2.77,Ideal,62.5,55.0,743,4.45,4.42,2.77
19723,1.21,Ideal,G,VS2,61.5,56.0,8294,6.83,6.88,4.22,Ideal,61.5,56.0,8294,6.83,6.88,4.22
31548,0.30,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,Ideal,61.6,56.0,766,4.32,4.35,2.67

__Joining using a common column__

In [5]:
new_df3 = df.set_index('cut').join(df2.set_index('cut'),lsuffix = '_LEFT', rsuffix= '_RIGHT')
new_df3

,carat,color,clarity,depth_LEFT,table_LEFT,price_LEFT,x_LEFT,y_LEFT,z_LEFT,depth_RIGHT,table_RIGHT,price_RIGHT,x_RIGHT,y_RIGHT,z_RIGHT
cut,,,,,,,,,,,,,,,
Fair,0.70,G,VS1,56.2,65.0,2384,5.93,5.88,3.32,56.2,65.0,2384,5.93,5.88,3.32
Fair,0.70,G,VS1,56.2,65.0,2384,5.93,5.88,3.32,55.6,73.0,2368,6.01,5.96,3.33
Fair,0.70,G,VS1,56.2,65.0,2384,5.93,5.88,3.32,57.7,67.0,3674,6.49,6.46,3.73
Fair,0.70,G,VS1,56.2,65.0,2384,5.93,5.88,3.32,64.5,60.0,4751,6.30,6.25,4.05
Fair,0.71,D,VS2,55.6,73.0,2368,6.01,5.96,3.33,56.2,65.0,2384,5.93,5.88,3.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Very Good,1.01,F,VVS1,62.8,58.0,9243,6.35,6.39,4.00,63.1,58.0,4434,6.17,6.12,3.88
Very Good,1.01,F,VVS1,62.8,58.0,9243,6.35,6.39,4.00,63.5,56.0,9665,8.81,8.77,5.58
Very Good,1.01,F,VVS1,62.8,58.0,9243,6.35,6.39,4.00,62.3,57.0,737,4.67,4.74,2.93
Very Good,1.01,F,VVS1,62.8,58.0,9243,6.35,6.39,4.00,60.7,59.0,2297,5.19,5.28,3.18
Very Good,1.01,F,VVS1,62.8,58.0,9243,6.35,6.39,4.00,62.8,58.0,9243,6.35,6.39,4.00

__Joining by preserving a specific column of the first dataframe__

In [6]:
new_df4 = df.join(df2.set_index('cut'),on = 'cut' ,lsuffix = '_LEFT', rsuffix= '_RIGHT')
new_df4

,carat,cut,color,clarity,depth_LEFT,table_LEFT,price_LEFT,x_LEFT,y_LEFT,z_LEFT,depth_RIGHT,table_RIGHT,price_RIGHT,x_RIGHT,y_RIGHT,z_RIGHT
53617,0.3,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,61.0,61.0,552,4.27,4.29,2.61
53617,0.3,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,62.5,56.0,7040,6.65,6.72,4.18
53617,0.3,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,62.5,57.0,4584,6.56,6.58,4.11
53617,0.3,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,60.0,61.0,1057,4.78,4.86,2.89
53617,0.3,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,61.7,61.0,544,4.31,4.34,2.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31548,0.3,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,62.1,55.0,1036,4.77,4.79,2.97
31548,0.3,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,62.1,54.0,439,4.56,4.58,2.84
31548,0.3,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,62.5,55.0,743,4.45,4.42,2.77
31548,0.3,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,61.5,56.0,8294,6.83,6.88,4.22
31548,0.3,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,61.6,56.0,766,4.32,4.35,2.67

### Merge

__Merge is by default Left Join__

In [7]:
new_df5 = pd.merge(df, df2)
new_df5

    carat        cut color clarity  depth  table  price     x     y     z
0    0.30  Very Good     D     SI1   61.0   61.0    552  4.27  4.29  2.61
1    0.30      Ideal     G    VVS2   62.9   55.0    878  4.32  4.30  2.71
2    1.01      Ideal     H     SI2   59.1   59.0   5828  6.58  6.61  3.90
3    0.40    Premium     E     VS1   60.4   59.0   1125  4.81  4.76  2.89
4    1.15  Very Good     H     VS1   62.5   56.0   7040  6.65  6.72  4.18
..    ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
95   0.40       Good     D     VS1   63.2   56.0    898  4.69  4.74  2.98
96   1.52    Premium     D     SI1   59.8   58.0  12707  7.51  7.55  4.50
97   0.33      Ideal     E     SI1   62.5   55.0    743  4.45  4.42  2.77
98   1.21      Ideal     G     VS2   61.5   56.0   8294  6.83  6.88  4.22
99   0.30      Ideal     E    VVS2   61.6   56.0    766  4.32  4.35  2.67

[100 rows x 10 columns]

__Right Join__

In [8]:
new_df6 = pd.merge(df, df2, on='depth', how='right')
new_df6

,carat,cut_x,color,clarity,depth,table_x,price_x,x_x,y_x,z_x,cut_y,table_y,price_y,x_y,y_y,z_y
0,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Very Good,61.0,552,4.27,4.29,2.61
1,0.33,Premium,H,VS1,61.0,59.0,743,4.50,4.45,2.73,Very Good,61.0,552,4.27,4.29,2.61
2,1.21,Premium,E,SI2,61.0,58.0,4933,6.93,6.88,4.21,Very Good,61.0,552,4.27,4.29,2.61
3,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Premium,59.0,743,4.50,4.45,2.73
4,0.33,Premium,H,VS1,61.0,59.0,743,4.50,4.45,2.73,Premium,59.0,743,4.50,4.45,2.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,1.01,Premium,E,SI2,59.4,59.0,3928,6.51,6.49,3.86,Premium,59.0,3928,6.51,6.49,3.86
336,0.90,Premium,E,SI1,63.0,59.0,4334,6.13,6.10,3.85,Premium,59.0,4334,6.13,6.10,3.85
337,0.86,Good,F,SI2,64.3,60.0,2819,5.97,5.95,3.83,Good,60.0,2819,5.97,5.95,3.83
338,0.37,Ideal,E,VVS2,62.2,56.0,844,4.60,4.63,2.87,Ideal,56.0,844,4.60,4.63,2.87
339,0.40,Good,D,VS1,63.2,56.0,898,4.69,4.74,2.98,Good,56.0,898,4.69,4.74,2.98

__Outer Join__

In [9]:
new_df7 = pd.merge(df, df2, on='depth', how='outer')
new_df7

,carat,cut_x,color,clarity,depth,table_x,price_x,x_x,y_x,z_x,cut_y,table_y,price_y,x_y,y_y,z_y
0,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Very Good,61.0,552,4.27,4.29,2.61
1,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Premium,59.0,743,4.50,4.45,2.73
2,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,Premium,58.0,4933,6.93,6.88,4.21
3,0.33,Premium,H,VS1,61.0,59.0,743,4.50,4.45,2.73,Very Good,61.0,552,4.27,4.29,2.61
4,0.33,Premium,H,VS1,61.0,59.0,743,4.50,4.45,2.73,Premium,59.0,743,4.50,4.45,2.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,1.01,Premium,E,SI2,59.4,59.0,3928,6.51,6.49,3.86,Premium,59.0,3928,6.51,6.49,3.86
336,0.90,Premium,E,SI1,63.0,59.0,4334,6.13,6.10,3.85,Premium,59.0,4334,6.13,6.10,3.85
337,0.86,Good,F,SI2,64.3,60.0,2819,5.97,5.95,3.83,Good,60.0,2819,5.97,5.95,3.83
338,0.37,Ideal,E,VVS2,62.2,56.0,844,4.60,4.63,2.87,Ideal,56.0,844,4.60,4.63,2.87
339,0.40,Good,D,VS1,63.2,56.0,898,4.69,4.74,2.98,Good,56.0,898,4.69,4.74,2.98

__Inner Join__

In [10]:
new_df8 = pd.merge(df, df2, how='inner')
new_df8

    carat        cut color clarity  depth  table  price     x     y     z
0    0.30  Very Good     D     SI1   61.0   61.0    552  4.27  4.29  2.61
1    0.30      Ideal     G    VVS2   62.9   55.0    878  4.32  4.30  2.71
2    1.01      Ideal     H     SI2   59.1   59.0   5828  6.58  6.61  3.90
3    0.40    Premium     E     VS1   60.4   59.0   1125  4.81  4.76  2.89
4    1.15  Very Good     H     VS1   62.5   56.0   7040  6.65  6.72  4.18
..    ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
95   0.40       Good     D     VS1   63.2   56.0    898  4.69  4.74  2.98
96   1.52    Premium     D     SI1   59.8   58.0  12707  7.51  7.55  4.50
97   0.33      Ideal     E     SI1   62.5   55.0    743  4.45  4.42  2.77
98   1.21      Ideal     G     VS2   61.5   56.0   8294  6.83  6.88  4.22
99   0.30      Ideal     E    VVS2   61.6   56.0    766  4.32  4.35  2.67

[100 rows x 10 columns]

__Joining using multiple columns__

In [11]:
new_df9 = pd.merge(df, df2, on=['depth', 'cut'], how='left')
new_df9

,carat,cut,color,clarity,depth,table_x,price_x,x_x,y_x,z_x,table_y,price_y,x_y,y_y,z_y
0,0.30,Very Good,D,SI1,61.0,61.0,552,4.27,4.29,2.61,61.0,552,4.27,4.29,2.61
1,0.30,Ideal,G,VVS2,62.9,55.0,878,4.32,4.30,2.71,55.0,878,4.32,4.30,2.71
2,1.01,Ideal,H,SI2,59.1,59.0,5828,6.58,6.61,3.90,59.0,5828,6.58,6.61,3.90
3,0.40,Premium,E,VS1,60.4,59.0,1125,4.81,4.76,2.89,59.0,1125,4.81,4.76,2.89
4,1.15,Very Good,H,VS1,62.5,56.0,7040,6.65,6.72,4.18,56.0,7040,6.65,6.72,4.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,0.33,Ideal,E,SI1,62.5,55.0,743,4.45,4.42,2.77,54.0,583,4.50,4.52,2.82
226,0.33,Ideal,E,SI1,62.5,55.0,743,4.45,4.42,2.77,55.0,743,4.45,4.42,2.77
227,1.21,Ideal,G,VS2,61.5,56.0,8294,6.83,6.88,4.22,56.0,8294,6.83,6.88,4.22
228,0.30,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,57.0,2998,5.70,5.73,3.52
229,0.30,Ideal,E,VVS2,61.6,56.0,766,4.32,4.35,2.67,56.0,766,4.32,4.35,2.67

__Note:__ We can even use append() in case of concat(). Can be used both on Series and Dataframes.

In [12]:
app =df.append(df2)
app

       carat        cut color clarity  depth  table  price     x     y     z
53617   0.30  Very Good     D     SI1   61.0   61.0    552  4.27  4.29  2.61
34846   0.30      Ideal     G    VVS2   62.9   55.0    878  4.32  4.30  2.71
14434   1.01      Ideal     H     SI2   59.1   59.0   5828  6.58  6.61  3.90
40306   0.40    Premium     E     VS1   60.4   59.0   1125  4.81  4.76  2.89
17510   1.15  Very Good     H     VS1   62.5   56.0   7040  6.65  6.72  4.18
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
35328    NaN       Good   NaN     NaN   63.2   56.0    898  4.69  4.74  2.98
24446    NaN    Premium   NaN     NaN   59.8   58.0  12707  7.51  7.55  4.50
30885    NaN      Ideal   NaN     NaN   62.5   55.0    743  4.45  4.42  2.77
19723    NaN      Ideal   NaN     NaN   61.5   56.0   8294  6.83  6.88  4.22
31548    NaN      Ideal   NaN     NaN   61.6   56.0    766  4.32  4.35  2.67

[200 rows x 10 columns]

## Thank you!